/* google font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* layout */
:root {
  --primary: #19b5fe;
  --dark: #171717;
}
body {
  background: #efeee1;
  margin: 0;
  font-family: "Montserrat";
}

/* NAV BAR */

.navbar {
  margin: .5em .5em;
  padding: .5em .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
  position: sticky;
  top: 0;
  transition: 0.2s;
  z-index: 99;
}

.navbar .title-container {
  display: flex;
  flex-direction: row;
}

.navbar .title {
  font-size: 1.5em;
  margin: 0;
  color: white;
  font-weight: normal;
  text-wrap: nowrap;
}

.port {
  font-size: 1.5em;
  margin: 0;
  font-weight: 200;
  color: var(--primary);
  margin-left: .5em;
}

.port:hover {
  cursor: pointer;
}

.navbar h3 {
  font-size: 1em;
  margin: 0;
  color: white;
  padding: 0 1.5em;
  transition: 0.1s;
  font-weight:bold;
}

.navbar h3:hover {
  color: var(--primary);
  transition: 0.1s;
  cursor: pointer;
}

.navbar .link {
  text-decoration: none;
}

.navbar .menu-btn {
  display: none;
  padding: 0;
}

@media (max-width: 1000px) {
  .navbar .menu-btn {
    display:block;
  }

  .navbar .link, a {
    display: none;
  }
}

.navbar .menu-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* STANDARD SECTION STYLES */

.section-title {
  margin: 0;
  margin-top: 2em;
  margin-bottom: .5em;
  font-weight: 600;
}

.sub-title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

button {
  margin: 0;
  border: none;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: .5em;
  border-radius: .2em;
  margin-left: .5em;
  background-color: var(--dark);
  color: white;
  transition: .1s;
}

button:hover {
  background-color: #000000;
  cursor: pointer;
  font-weight: 800;
  color: var(--primary);
  transition: .1s;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5em;
}

/* ABOUT */

.about {
  padding: 2em;
  background-color: white;
  margin: 0.5em;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 75vh;
}

.about p {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}

.about .photo {
  width: 10em;
  border-radius: 50%;
  margin-bottom: 1em;
}

.about .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.btn {
  margin: 0;
  border: none;
  font-family: 'Montserrat';
  font-weight: bold;
  padding: .5em;
  border-radius: .2em;
  margin-left: .5em;
  background-color: var(--dark);
  color: white;
  transition: .1s;
  text-decoration: none;
  font-size: .8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  background-color: #000000;
  cursor: pointer;
  font-weight: 800;
  color: var(--primary);
  transition: .1s;
}

.about .email-btn {
  margin-left: 0;
}

/* PROJECTS */

.projects {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  padding: 1em;
  padding-bottom: .5em;
  margin: .5em;
  background-color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.project-card:hover {
  cursor: pointer;
}

.project-card .img-container {
  margin: 0;
  margin-bottom: .5em;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 18vw;
  height: 18vw;
  transition: .1s;
}

.project-card .photo {
  width: 18vw;
  height: 18vw;
  transition: .1s;
}

.project-card .img-container .desc-container {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card .img-container .desc {
  margin: .5em;
  text-align: center;
  font-weight:500;
  font-size: 1.3em;
  color: white;
}

.project-card:hover .desc-container {
  visibility: visible;
}

.project-card:hover .img-container {
  width: 20vw;
  height: 20vw;
  transition: .1s;
}

.project-card:hover .photo {
  width: 20vw;
  height: 20vw;
  transition: .1s;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  width: 80vw;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.modal .row1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.modal .title {
  margin: 0;
  width: 20vw;
}

.modal .btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  flex: 1;
}

.modal .close-btn {
  height: 2em;
  width: 2em;
  background-color: #e7195a;
  color: white;
  border-radius: .2em;
}

.modal .close-btn:hover {
  background-color: #cb154f;
  cursor: pointer;
}

.modal .row2 {
  display: flex;
  flex-direction: row;
}

.modal .photo {
  width: 20vw;
  height: 20vw;
}

.modal .desc {
  margin: 0;
  font-size: 1.4em;
  margin-left: 1em;
}

/* SKILLS */

.skills .title {
  margin: 0;
  margin-top: 2em;
  margin-bottom: .5em;
  font-weight: 600;
}

.skills {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-card {
  padding: .5em;
  margin: .5em;
  background-color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 50vw;
  height: max-content;
}

.skill-card:hover {
  cursor: pointer;
}

.skill-card .photo {
  width: 20vh;
  height: 20vh;
  transition: .1s;
}

.skill-card .desc {
  margin: .5em;
  text-align: center;
  justify-content: center;
  font-weight:500;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.skill-card:hover .photo {
  width: 22vh;
  height: 22vh;
  transition: .1s;
}

/* EXPERIENCE */

.experience {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.experiences-container {
  display: flex;
  flex-wrap: wrap;
}

.experience-card {
  padding: 0;
  margin-bottom: 1em;
  padding-bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
  width: 90vw;
}

.experience-card .info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: .5em;
}

.experience-card .company-container {
  display: flex;
  flex-direction: row;
}

.experience-card .location {
  padding-left: .5em;
  font-size: 1em;
}

.experience-card img {
  height: 10em;
  margin-right: .5em;
}

.experience-card h2 {
  margin: 0;
  margin-top: .5em;
  font-size: 1em;
  font-weight: 500;
}

.experience-card .date-container {
  margin-bottom: 0;
}

.experience-card .date {
  margin: 0;
  padding: .5em;
  background: none;
  border: 1px solid black;
  font-size: .8em;
  color: rgb(0, 0, 0)
}

/* EDUCATION */

.education {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
}

.education-card {
  padding: 0;
  margin-bottom: 1em;
  padding-bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  width: 90vw;
}

.education-card .info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: .5em;
}

.education-card img {
  height: 10em;
}

.education-card h2 {
  margin: 0;
  margin-top: .5em;
  font-size: 1em;
  font-weight: 500;
}

.education-card .date {
  margin: 0;
  padding: .5em;
  background: none;
  border: 1px solid black;
  font-size: .8em;
  color: rgb(0, 0, 0)
}

.education-card img {
  margin-right: .5em;
}

/* CONTACT */

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .name {
  width:20em;
  margin-bottom: .5em;
  font-family: "Montserrat";
  font-size: 1em;
  padding: .5em;
  border: none;
}

.contact .email {
  width: 20em;
  margin-bottom: .5em;
  font-family: "Montserrat";
  font-size: 1em;
  padding: .5em;
  border: none;
}

.contact .message {
  width: 20em;
  height: 10em;
  margin-bottom: .5em;
  font-family: "Montserrat";
  font-size: 1em;
  padding: .5em;
  border: none;
}

.contact .submit-button {
  border: none;
  font-size: .9em;
  font-weight: bold;
  font-family: "Montserrat";
  padding: .8em;
  background-color: var(--primary);
  color: white;
  margin-bottom: 1em;
  text-align: center;
  border-radius: .2em;
}

.contact .submit-button:hover {
  background-color: #16aaef;
  cursor: pointer;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20em;
  background-color: var(--dark);
  padding-left: 1em;
}

.footer .contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer h2 {
  color: var(--primary);
}

.footer .email-btn {
  border: none;
  color: white;
  font-family: "Montserrat";
  background: none;
  margin: 0;
  font-size: 1em;
  padding: 0;
  margin-bottom: .5em;
  font-weight: normal;
}

.footer .email-btn:hover {
  color: var(--primary);
  cursor: pointer;
}

.footer .git-btn {
  border: none;
  color: white;
  font-family: "Montserrat";
  background: none;
  margin: 0;
  margin-bottom: .5em;
  text-decoration: none;
  font-size: 1em;
}

.footer .git-btn:hover {
  color: var(--primary);
  cursor: pointer;
}