/* google font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* layout */
:root {
  --primary: #1a7bac;
  --error: #e7195a;
}
body {
  background: #dbdbdb;
  margin: 0;
  font-family: "Montserrat";
}

/* NAV BAR */

.navbar {
  margin: .5em .5em;
  padding: .5em .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  border-radius: .5em;
  position: sticky;
  top: 0;
  transition: 0.2s;
  z-index: 100;
}

.navbar .title-container {
  display: flex;
  flex-direction: row;
}

.navbar .title {
  font-size: 1.5em;
  margin: 0;
  color: white;
}

.port {
  font-size: 1.5em;
  margin: 0;
  font-weight: 100;
  color: #fff000;
  margin-left: .5em;
}

.port:hover {
  cursor: pointer;
}

.navbar h3 {
  font-size: 1em;
  margin: 0;
  color: white;
  padding: 0 1.5em;
  transition: 0.1s;
}

.navbar h3:hover {
  color: #fff000;
  transition: 0.15s;
  cursor: pointer;
}

.navbar .link {
  text-decoration: none;
}

.navbar .menu-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HOME */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5em;
}

/* ABOUT */

.about {
  padding: 2em;
  background-color: white;
  margin: 0.5em;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: .5em;
  height: 75vh;
}

.about p {
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}

.about .photo {
  width: 10em;
  border-radius: 50%;
  margin-bottom: 2em;
}

/* PROJECTS */

.projects {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  padding: 1em;
  margin: .5em;
  background-color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: .5em;
}

.projects .title {
  margin: 0;
  margin-top: .5em;
  margin-bottom: .5em;
}

.project-card .img-container {
  border-radius: .5em;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 20vw;
  height: 20vw;
}

.project-card .img-container .desc-container {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card .img-container .desc {
  margin: .5em;
  text-align: center;
  font-weight:500;
  font-size: 1.3em;
  color: white;
}

.project-card .img-container:hover .desc-container {
  visibility: visible;
}


.project-card .title-container {
  width: 100%;
}

.project-card .title {
  margin: 0;
  margin-top: .5em;
  font-size: 1.5em;
}

/* SKILLS */

.skills .title {
  margin: 0;
  margin-top: 2em;
  margin-bottom: .5em;
}

.skills {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-card {
  padding: 1em;
  margin: .5em;
  background-color: white;
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 50%;
}

.skill-card .img-container {
  border-radius: 50%;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 15vw;
  height: 15vw;
}

.skill-card .img-container .desc-container {
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-card .img-container .desc {
  margin: 1em;
  text-align: center;
  font-weight:500;
  font-size: 1em;
  color: white;
}

.skill-card .img-container:hover .desc-container {
  visibility: visible;
}


.skill-card .title-container {
  width: 100%;
}

/* EXPERIENCE */

.experience {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.experiences-container {
  display: flex;
  flex-wrap: wrap;
}

.experience .title {
  margin: 0;
  margin-top: 2em;
  margin-bottom: .2em;
}

.experience-card {
  padding: 0;
  padding-left: .5em;
  margin: 1em;
  padding-bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: .5em;
  overflow: hidden;
  width: 90vw;
}

.experience-card .info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.experience-card img {
  height: 10em;
}

.experience-card h1 {
  margin: 0;
  margin-top: .5em;
  font-size: 1.5em;
  font-weight: bold;
}

.experience-card h2 {
  margin: 0;
  margin-top: .5em;
  font-size: 1em;
}

.experience-card .date-container {
  padding: 0;
}

.experience-card .date {
  margin: 0;
  margin-bottom: .5em;
  padding: .5em;
  border-radius: .5em;
  background-color: rgba(255, 240, 0, .4);
  font-size: 1em;
}

/* EDUCATION */

.education {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
}

.education .title {
  margin: 0;
  margin-top: 2em;
  margin-bottom: .2em;
}

.education-card {
  padding: 0;
  padding-left: .5em;
  margin: 1em;
  padding-bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: .5em;
  overflow: hidden;
  width: 90vw;
}

.education-card .info-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.education-card img {
  height: 10em;
}

.education-card h1 {
  margin: 0;
  margin-top: .5em;
  font-size: 1.5em;
  font-weight: bold;
}

.education-card h2 {
  margin: 0;
  margin-top: .5em;
  font-size: 1em;
}

.education-card .date {
  margin: 0;
  margin-bottom: .5em;
  padding: .5em;
  border-radius: .5em;
  background-color: rgba(255, 240, 0, .4);
  font-size: 1em;
}

.education-card img {
  padding-right: .5em;
}

/* CONTACT */

.contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact .title {
  margin: 0;
  margin-top: 2em;
  margin-bottom: .2em;
}

.contact .name {
  width:20em;
  margin-bottom: .5em;
  font-family: "Montserrat";
  font-size: 1em;
  padding: .5em;
  border: none;
  border-radius: .5em;
}

.contact .email {
  width: 20em;
  margin-bottom: .5em;
  font-family: "Montserrat";
  font-size: 1em;
  padding: .5em;
  border: none;
  border-radius: .5em;
}

.contact .message {
  width: 20em;
  height: 10em;
  margin-bottom: .5em;
  font-family: "Montserrat";
  font-size: 1em;
  padding: .5em;
  border: none;
  border-radius: .5em;
}

.contact .submit-button {
  border: none;
  border-radius: .5em;
  font-size: .9em;
  font-weight: bold;
  font-family: "Montserrat";
  padding: .8em;
  background-color: #038aff;
  color: white;
  margin-bottom: 1em;
  text-align: center;
}

.contact .submit-button:hover {
  background-color: #2d55ff;
  cursor: pointer;
}

/* FOOTER */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 20em;
  background-color: #2b2b2b;
  padding-left: 1em;
}

.footer .contact-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer h2 {
  color: #fff000;
}

.footer .email-btn {
  border: none;
  color: white;
  font-family: "Montserrat";
  background: none;
  margin: 0;
  font-size: 1em;
  padding: 0;
  margin-bottom: .5em;
}

.footer .email-btn:hover {
  color: #fff000;
  cursor: pointer;
}

.footer .git-btn {
  border: none;
  color: white;
  font-family: "Montserrat";
  background: none;
  margin: 0;
  margin-bottom: .5em;
  text-decoration: none;
  font-size: 1em;
}

.footer .git-btn:hover {
  color: #fff000;
  cursor: pointer;
}